@{
}

@model IEnumerable<string>

<div>

    @foreach (string t in Model)
    {
        <a asp-controller="Table" asp-action="Summary" asp-route-filter="@t" asp-route-pageNum="1" class="btn @(ViewBag.SelectedFilter == t ? "btn-primary" : "btn-outline-secondary")">@t</a>
    }
</div>