@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Burialmain

    <div>
        <p>@Model.Headdirection</p>
        <p>@Model.Adultsubadult</p>
        <p>@Model.Haircolor</p>
    </div>
