@model string

@{
    ViewData["Title"] = "Authentication";
}

<div class="card bg-dark text-white">
    <img class="card-img" src="~/img/pyramidsindex.jpg" alt="Card image">
    <div class="card-img-overlay">
        <h2 class="card-title">Fag el-gamous</h2>
        <p class="card-text">Some useless information about the egypt Fag el-gamous region</p>
    </div>
</div>
<br />
<div class="card-columns">
    <div class="card">
        <img class="card-img-top" src="~/img/FagElGamous001.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Fag el-Gamous Excavation Project</h5>
            <p class="card-text">
                The older remains are from the excavation of the Seila Pyramid.
                Our discovery of a stela with two of the names of Snefru, first king of the Fourth Dynasty, revealed who had built the pyramid.
                It lies 10 km due west of the Meidum Pyramid, and in terms of its elevation and the ratio of its construction, there are some clear links between the two pyramids.
            </p>
            <small class="text-muted">
                <cite title="Source Title">American Research Center In Egypt</cite>
            </small>
        </div>
    </div>
    <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
                <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/portraitINDEX.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">The Mummy Portraits of Fag el-Gamous</h5>
            <p class="card-text">
                The necropolis of Fag el-Gamous has been under excavation by Brigham Young
                University for more than thirty years.1 During this time more than 1000 burials
                have been discovered; however, not a single mummy portrait has been found
                despite the fact that many of the burials fit the appropriate time period.
            </p>
            <p class="card-text"><small class="text-muted">BYU</small></p>
        </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
        <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
            <footer class="blockquote-footer">
                <small>
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">BYU INTEX project plans to help burial excavators in Egypt</h5>
            <p class="card-text">
                The BYU information systems major hosts INTEX, an incredibly rigorous week-long final project, each semester.
                The information systems students have been tasked with creating a high-functioning web application for the excavators’ data.
            </p>
            <p class="card-text"><small class="text-muted">The Daily Universe</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img" src="~/img/pyramidsIndex.jpg" alt="Card image">
    </div>
    <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
                <small class="text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">BYU INTEX project plans to help burial excavators in Egypt</h5>
            <p class="card-text">
                The BYU information systems major hosts INTEX, an incredibly rigorous week-long final project, each semester.
                The information systems students have been tasked with creating a high-functioning web application for the excavators’ data.</p>
            <p class="card-text"><small class="text-muted">The Daily Universe</small></p>
        </div>
    </div>
</div>