@model string

@{
    ViewData["Title"] = "Home";
}

<div class="card bg-dark text-white">
    <img class="card-img" src="~/img/PyramidFagElGamous.jpeg" alt="Card image">
    <div class="card-img-overlay">
        <h2 class="card-title">Fag el-gamous</h2>
        <p class="card-text">Fagg El Gamous (translated Way of the Buffalo) is an ancient Egyptian cemetery located in the Faiyum Governorate dating from the 1st to the 7th century AD, the period of Roman rule in Egypt</p>
    </div>
</div>
<br />
<div class="card-columns">
    <div class="card">
        <img class="card-img-top" src="~/img/FagElGamous001.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Fag el-Gamous Excavation Project</h5>
            <p class="card-text">
                The older remains are from the excavation of the Seila Pyramid.
                Our discovery of a stela with two of the names of Snefru, first king of the Fourth Dynasty, revealed who had built the pyramid.
                It lies 10 km due west of the Meidum Pyramid, and in terms of its elevation and the ratio of its construction, there are some clear links between the two pyramids.
            </p>
            <small class="text-muted">
                <cite title="Source Title">American Research Center In Egypt</cite>
            </small>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Rethinking burial dates at a Graeco-Roman Cemetery: Fag el-Gamous, Fayoum, Egypt</h5>
            <p class="card-text">
                The Fag el-Gamous cemetery is a 125 hectare Graeco-Roman necropolis on the eastern edge of the Fayoum Depression. The 1000 + burials excavated to date at the cemetery are found largely in rectangular shafts at 0.3–3.0 m deep and oriented on an east–west axis. The high burial density, varying between 1.3 and 3.0 burials per square meter, is due in part to multiple burials in the same shaft.
            </p>
            <p class="card-text"><small class="text-muted">Science Direct</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/img/portraitINDEX.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">The Mummy Portraits of Fag el-Gamous</h5>
            <p class="card-text">
                The necropolis of Fag el-Gamous has been under excavation by Brigham Young
                University for more than thirty years.1 During this time more than 1000 burials
                have been discovered; however, not a single mummy portrait has been found
                despite the fact that many of the burials fit the appropriate time period.
            </p>
            <p class="card-text"><small class="text-muted">BYU</small></p>
        </div>
    </div>

    <div class="card">
        <img class="card-img" src="~/img/ReferenceINDEX.jpg" alt="Card image">
    </div>

    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">BYU INTEX project plans to help burial excavators in Egypt</h5>
            <p class="card-text">
                The BYU information systems major hosts INTEX, an incredibly rigorous week-long final project, each semester.
                The information systems students have been tasked with creating a high-functioning web application for the excavators’ data.
            </p>
            <p class="card-text"><small class="text-muted">The Daily Universe</small></p>
        </div>
    </div>

    <div class="card">
        <img class="card-img" src="~/img/pyramidsIndex.jpg" alt="Card image">
    </div>
    <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
            <p class="card-text">"All the burials we encountered were 'head east' burials, but, when we got to the bottom of the shaft, we found them 'head west.' What happened? Did someone miss the program? I became aware we had a pattern here,"</p>
            <footer class="blockquote-footer">
                <small class="text-muted">
                    C.Wilfred Griggs <cite title="Source Title">The Salt Lake Tribune</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Signs Of Christianity In Mummies</h5>
            <p class="card-text">
                "It would radically change theories about Christianity and Egypt and Christian self-identification," says Lincoln Blumell, who recently joined BYU's department of ancient scripture from Tulane University.
            </p>
            <p class="card-text"><small class="text-muted">The Salt Lake Tribune</small></p>
        </div>
    </div>
</div>