@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "PredictedSupervised";

    if (Model.PredictedValue == "W") {

        ViewData["Direction"] = "West";
    }

    if (Model.PredictedValue == "E")
    {
        ViewData["Direction"] = "East";
    }
}
@model Prediction


<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    @if (Model.PredictedValue == "W")
            {
                <h2>Predicted Head Direction : West</h2>
            } 
                    @if (Model.PredictedValue == "E")
            {
                <h2>Predicted Head Direction : East</h2>
            }
                </div>

                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card-body">
                                    <p>The logistic regression model predicted a head direction of @ViewData["Direction"] </p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <p>What the frick beans bro</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>