@*
    @*
       For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Unsupervised";
}


<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center mt-4 mb-4">Unsupervised Model</h1>
        </div>
        <div class="card-body">
            <div class="report">
                <p>
                    In our unsupervised models, we determined the top two variables that have the greatest impact on the depth by using Principal Component Analysis (PCA), which is a model that helps identify the most significant variables in a dataset. The principal components are ordered by the amount of variance they capture from the original data. To try to find the variables that have the most impact on the depth, we looked at the coefficients of the variables after running the PCA model with the depth feature dropped.

                    In our case, the variables femur length and south-to-head had the highest coefficients. This means that these two variables contribute the most to the overall variance captured by the model. As a result, we wanted to further explore femur length and south-to-head and see if they actually have an impact on the depth. However, we also determined that south-to-head probably will not provide valuable insight compared to femur length. There is another column in the database called "length," and we hypothesized that there must be some relationship between the length of the sarcophagus and the depth if there is a relationship with the femur length and depth. With this in mind, we decided to plot the three variables 'length,' 'femur length,' and 'depth.' From the visualization of the scatterplot, it is clear that the variables 'length' and 'femur length' are clustered and both have very similar relationships with depth. This further validated our analysis that femur length has a relationship with the depth of the burial. One thing that is noticeable is that there are no very short femur length mummies buried at high depths. As children have shorter femurs, this could maybe draw conclusions such as the burial of children was a practice introduced later as they were buried at lower depths. Alternatively, it could just mean children were buried at lower depths. This is something that would need further research.
                </p>
                <p>
                    Some other possible reasons for different femur lengths at different depth levels may include:
                </p>
                <ul>
                    <li>Mummies from different social classes or statuses may have been buried at different depths, and social status could determine factors such as access to nutrition, healthcare, and living conditions, which could result in longer femur lengths. And lower social status may have been associated with poorer nutrition and living conditions, leading to shorter femur lengths.</li>
                    <li>Burial practices can vary between different cultures or even within the same culture over time. The depth of burial can be influenced by other factors such as religious beliefs, rituals, or traditions. An exmaple can be that some cultures may have specific burial practices for certain age groups, genders, or occupations, which could lead to differences in femur length at various depths.</li>
                </ul>
                <p>
                    For the variable southtohead, although we do see a slight relationship, we do now know what the variable means, so it would be up to the mummy professionals to decide what this relationship could indicate.
                </p>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3>Scatter Plot</h3>
                </div>
                <div class="card-body text-center">
                    <iframe src="~/scatterplot3.html" width="90%" height="600" frameborder="10"></iframe>
                </div>
            </div>
        </div>"
    </div>





</div>