<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Identity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $("#searchBar").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BYU Egypt INTEX</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">





                        <!--IF UN AUTHENTICATED-->
                        @if (!(User?.Identity?.IsAuthenticated) ?? false)
                        {
                            <!-- Commented out becuase the normal user doesnt use an account

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Create">Create User</a>
        </li>


        -->

                        }


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Table" asp-action="Summary">Burial Summary</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Supervised">Supervised Analysis</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Unsupervised">Unsupervised Analysis</a>
                        </li>



                        <!--ADMIN ONLY-->
                        @if (User.IsInRole("Admin"))
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                                    Admin Controls
                                </a>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="IndexUsers">All User</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="IndexRoles">All Roles</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Role" asp-action="Create">Create Role</a>

                                </div>
                            </li>
                        }

                        @if (User.IsInRole("Super Admin"))
                        {
                            <!--SUPER ADMIN-->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Project">Policy Authorization</a>
                            </li>
                            <!--SUPER ADMIN-->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Claims" asp-action="TomFiles">Tom Files</a>
                            </li>
                            <!--SUPER ADMIN-->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Claims" asp-action="PrivateAccess">Private Accesss</a>
                            </li>


                        }
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item ml-auto">
                                <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
                            </li>

                        }
                        <!--IF UN AUTHENTICATED-->
                        @if ((!(User?.Identity?.IsAuthenticated) ?? false) && (ViewData["Title"] != "Login"))
                        {
                            <li class="nav-item ml-auto">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="/">Login</a>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <partial name="_CookieConsentPartial" />
        <div class="container">
            &copy; 2022 - BYU Egypt INTEX - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
